<div class="cambios">
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title> Tareas pendientes </mat-panel-title>
      </mat-expansion-panel-header>
      <ul>
        <li>Permitir consultar los datos aunque GoblinSpy esté caído.</li>
        <li>Añadir información sobre "PI TV" (partidos actuales, canal en directo ...).</li>
        <li>Añadir la información del torneo presencial (enlaces, inscritos ...).</li>
        <li>Añadir un gestor de rosters BB2020.</li>
        <li>Crear una sección "Sugerencias e ideas".</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title> Cambios 06/06/2021 </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>Vista "Cambios"</h2>
      <ul>
        <li>Añadida la vista "Cambios".</li>
      </ul>
      <h2>Vista "Circuito"</h2>
      <ul>
        <li>Añadida la vista "Circuito".</li>
        <li>Actualizada la lista del circuito.</li>
        <li>Añadido un mensaje de última actualización.</li>
        <li>Añadido un componente visual que indique que se están obteniendo los datos.</li>
      </ul>
      <h2>Vista "Odisea"</h2>
      <ul>
        <li>Añadida la competición "III ODISEA".</li>
        <li>Añadido el número de entrenadores participantes encima de la cabecera de la tabla, en la columna "Entrenador".</li>
        <li>Añadido el número de razas participantes encima de la cabecera de la tabla, en la columna "Raza".</li>
        <li>Añadido un mensaje de fin de temporada.</li>
        <li>Añadido un componente visual que indique que se están obteniendo los datos.</li>
      </ul>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title> Cambios 23/05/2021 </mat-panel-title>
      </mat-expansion-panel-header>
      <h2>Vista "Índice"</h2>
      <ul>
        <li>Añadida la vista "Índice" con la clasificación general del "Circuito PI".</li>
      </ul>
      <h2>Vista "Odisea"</h2>
      <ul>
        <li>Añadida la vista "Odisea" con las clasificaciones de competiciones pasadas.</li>
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
