<div class="tabla">
    <mat-form-field class="filtro">
      <mat-label>Escribe aquí para buscar rápidamente</mat-label>
      <input matInput (keyup)="filtrar($event)" placeholder="1 para buscar la concesión de Hiru a Orioncillo" autocomplete="off" #input />
    </mat-form-field>
    <table mat-table [dataSource]="clasificacion">
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.position }}</td>
      </ng-container>
  
      <ng-container matColumnDef="coach_name">
        <th mat-header-cell *matHeaderCellDef>Entrenador</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.coach_name }}</td>
      </ng-container>
  
      <ng-container matColumnDef="wins">
        <th mat-header-cell *matHeaderCellDef>Victorias</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.wins }}</td>
      </ng-container>
  
      <ng-container matColumnDef="draws">
        <th mat-header-cell *matHeaderCellDef>Empates</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.draws }}</td>
      </ng-container>
  
      <ng-container matColumnDef="losses">
        <th mat-header-cell *matHeaderCellDef>Derrotas</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.losses }}</td>
      </ng-container>
  
      <ng-container matColumnDef="td">
        <th mat-header-cell *matHeaderCellDef>Touchdowns</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.td }}</td>
      </ng-container>
  
      <ng-container matColumnDef="ctd">
        <th mat-header-cell *matHeaderCellDef>Touchdowns en contra</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.ctd }}</td>
      </ng-container>
  
      <ng-container matColumnDef="dtd">
        <th mat-header-cell *matHeaderCellDef>Diferencia de Touchdowns</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.dtd }}</td>
      </ng-container>
  
      <ng-container matColumnDef="cas">
        <th mat-header-cell *matHeaderCellDef>Heridas</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.cas }}</td>
      </ng-container>
  
      <ng-container matColumnDef="ccas">
        <th mat-header-cell *matHeaderCellDef>Heridas en contra</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.ccas }}</td>
      </ng-container>
  
      <ng-container matColumnDef="dcas">
        <th mat-header-cell *matHeaderCellDef>Diferencia de heridas</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.dcas }}</td>
      </ng-container>
  
      <ng-container matColumnDef="concesions">
        <th mat-header-cell *matHeaderCellDef>Concesiones</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.concesions }}</td>
      </ng-container>
  
      <ng-container matColumnDef="points">
        <th mat-header-cell *matHeaderCellDef>Puntos</th>
        <td mat-cell *matCellDef="let jugador">{{ jugador.points }}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="columnas; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas; let jugador" class="{{ jugador.status }}"></tr>
    </table>

    <div *ngIf="!clasificacion" class="carga">
      <mat-spinner></mat-spinner>
    </div>
  </div>
  