@import "../app.component.css";

table {
    margin-top: 0%;
    width: 75%;
}

.filtro {
    margin: auto;
    margin-top: 2%;
    margin-left: 12.5%;
    width: 75%;
}

.informacion {
    margin: auto;
    margin-top: 2%;
    width: 100%;
    text-align: center;
}

.carga {
    width: 10%;
    margin: auto;
    margin-top: 10%;
}

.clasificado {
    background-color: rgb(158, 247, 161);
}